body {
    background: #f3f3f3;
}

header {
    height: 45px;
    background: #f1f1f1;
    line-height: 35px;
    font-size: 45px;
    font-weight: bold;
    font-family: "华文行楷";
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    z-index: 1000;
    width: 450px;
    text-align: center;
    line-height: 45px;
    z-index: 99;
    animation: roShow 4s ease,slip 8s 4s linear infinite;
    background: linear-gradient(-20deg,red,yellow,green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;				
}
@keyframes slip{
	0%{
		background-position-x: 0px;
	}
	33.3%{
		background-position-x: -150px;
	}
	66.6%{
		background-position-x: 150px;
	}
	100%{
		background-position-x: 0px;
	}
}

#author {
    position: absolute;
    right: 3%;
    top: 0;
    font-family: "楷体";
    font-size: 18px;
}
#author a{
	position: relative;
	top: -2px;
	right: -20px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#cont2 {
    background: #dfdfdf;
}
#outlist{
    position: relative;
    display: flex;
}

.inspan{
    display: block;
    color: black;
    border: 1px solid #DEB887;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px red inset;
    background: skyblue;
    text-align: center;
    line-height: 30px;
    margin: 5px;

}
.inspan:hover{
    box-shadow: 0 0 3px red;
    background: deepskyblue;
    color:rgb(235, 45, 61);
    font-weight: bold;
}

.list {
    display: none;
    position: absolute;
}

.list li a {
    display: block;
    color: black;
    border: 1px solid #DEB887;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px deepskyblue inset;
    background: pink;
    text-align: center;
    line-height: 30px;
    margin: 5px;
}

.list li:hover a {
    background: hotpink;
    color: white;
    font-weight: bold;
}

#cube{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}
.cube_time{
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 90px; 
    float: left;       
}
.cube_front,.cube_top,.cube_back,.cube_bottom{
    transition: color 1s;

}

@keyframes roShow {
    0% {
        z-index: 1000;
        transform: translateY(400px) rotate(720deg);
        height: 150px;
        line-height: 150px;
        font-size: 150px;
        text-align: center;
        width: 660px;
    }
    30% {
        z-index: 1000;
        transform: translateY(400px) rotate(360deg);
        height: 150px;
        line-height: 150px;
        font-size: 150px;
        text-align: center;
        width: 660px;
    }
    50% {
        z-index: 1000;
        transform: translateY(400px) rotate(360deg);
        height: 150px;
        line-height: 150px;
        font-size: 150px;
        text-align: center;
        width: 660px;
    }
}

@keyframes roll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1998px);
    }
}